[[source]]
name = "pypi"
url = "http://mirrors.tencentyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytz = "==2019.3"
python-slugify = "==4.0.0"
pillow = "==7.0.0"
rcssmin = "==1.0.6"
argon2-cffi = "==19.2.0"
redis = "==3.3.11"
celery = "==4.4.0"
django-celery-beat = "==1.5.0"
mysqlclient = "==1.4.6"
django-environ = "==0.4.5"
django-model-utils = "==4.0.0"
django-allauth = "==0.41.0"
django-crispy-forms = "==1.8.1"
django-compressor = "==2.4"
django-redis = "==4.11.0"
djangorestframework = "==3.11.0"
coreapi = "==2.3.3"
Django = "==2.2.9"
django-mdeditor = "==0.1.17"

[requires]
python_version = "3.7"
